.vehicle {
  border-collapse: collapse;
  border-color: #aaa;
  border-spacing: 0;
  min-width: 500px;
  max-width: 500px;
}
.vehicle td {
  background-color: #fff;
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
  color: #4a4a4a;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  display: table-cell;
  width: 2%;
}
.vehicle th {
  background-color: #fe885f;
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.vehicle .tg-0lax {
  text-align: left;
  vertical-align: top;
}
.vehicle .tg-dg7a {
  background-color: #fafafa;
  text-align: left;
  vertical-align: top;
}

.pagination-buttons {
  margin-top: 8px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-button {
  background-color: #fe885f;
  border-radius: 4px;
  height: 25px;
  width: 25px;
  border: none;
  color: #fff;
  font-weight: bold;
  margin-left: 4px;
}
