.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button-data {
  margin-bottom: 16px;
  width: 100%;
  background-color: #fe885f;
  border-radius: 8px;
  height: 50px;
  border: none;
  color: #fff;
}
