* {
  margin: 0 auto;
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button-data {
  margin-bottom: 16px;
  float: left;
  background-color: #fe885f;
  border-radius: 4px;
  height: 30px;
  border: none;
  color: #fff;
  font-weight: bold;
}
